<!DOCTYPE html>
<html>
<head>
	@await Html.PartialAsync("MetatagsPartial")
	@await Html.PartialAsync("StylesPartial")
</head>
<body>
	@await Html.PartialAsync("HeaderPartial")
	<main>
		<div class="container-fluid">
			<div class="row">
				@await Html.PartialAsync("SidebarPartial")
				@RenderBody()
			</div>
		</div>
	</main>
	@await Html.PartialAsync("ScriptsPartial")
</body>
</html>