<header>
    <h1>StudentSync</h1>
    <a style="left:1700px;top:50px;" class="button" asp-controller="Home" asp-action="Registration">Регистрация</a>
    <a style="left: 1600px; top: 50px;" class="button login" asp-controller="Home" asp-action="Login">Вход</a>
</header>