<div class="col-md-2 text-center">
	<nav class="nav flex-column bc-fon mt-5">
		<a class="nav-link active h5" asp-controller="Home" asp-action="Index">Главная страница</a>
		<a class="nav-link h5" asp-controller="Home" asp-action="Forum">Форум</a>
		<a class="nav-link h5" href="#">Идеи</a>
	</nav>
</div>