<aside>
	<nav class="table">
		<ul>
			<li><a asp-controller="Home" asp-action="Index">Главная страница</a></li>
			<li><a>Сообщения</a></li>
			<li><a>Форум</a></li>
			<li><a>Поиск команды</a></li>
			<li><a>Поиск</a></li>
		</ul>
	</nav>
</aside>