<section class="main-text grid-main">
	<h2>Проектное обучение</h2>
	<p style="display:inline-block"><a href="https://gsem.urfu.ru/ru/students/studentam-shkoly-gosudarstvennogo-upravlenija-i-predprinimatelstva/proektnoe-obuchenie/">Проектная деятельность</a> является одним из основных элементов современного образования. Ядро проектной работы составляет внеаудиторная деятельность, предусматривающая включение студентов в учебные, исследовательские или профессиональные проекты, выполняемые как в университете, так и за его пределами.</p>
	<img src="~/img/image.png" class="img" alt="Логотип УрФУ" />
</section>