<div class="col-md-10 text-center">
    <h1 class="display-3 text-white fw-7">StudentSync портфолио</h1>
    <p class="h4 text-white fw-5">Открой для себя мир творчества, общайся, находи единомышленников и делись своими работами!</p>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <a class="link-block d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Portfolio">
                    <div class="section">
                        <img src="~/img/portfolio.png" alt="Portfolio" class="img-fluid">
                        <h2>Портфолио в Центре Завтра</h2>
                        <p>Покажите миру свой талант на главной странице портфолио!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <a class="link-block d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Portfolio">
                    <div class="section">
                        <img src="~/img/personal_page.jpg" alt="Personal Page" class="img-fluid">
                        <h2>Личная Страница Послезавтра</h2>
                        <p>Создайте свою уникальную страницу и выделитесь из толпы!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <a class="link-block d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Portfolio">
                    <div class="section">
                        <img src="~/img/creative_chat.jpg" alt="Creative Chat" class="img-fluid">
                        <h2>Творческий Чат Через неделю</h2>
                        <p>Обсуждайте идеи, делись вдохновением и веселись в нашем чате!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>