<section>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Login" required>
        <br />
        <input type="password" name="password" placeholder="Password" required>
        <br />
        <input type="submit" value="Войти">
    </form>
    <img src="~/img/image.png" alt="Логотип УрФУ" />
</section>