<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header class="container-fluid p-3">
        <div class="row">
            <div class="col-md-10">
                <h1>StudentSync</h1>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-end">
                <a href="registration page.html" style="text-decoration: none;" class="button">Регистрация</a>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-start">
                <a href="login.html" style="text-decoration: none;" class="button">Вход</a>
            </div>
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 text-center">
                    <nav class="nav flex-column bc-fon mt-5">
                        <a class="nav-link active h5" href="index.html">Главная страница</a>
                        <a class="nav-link h5" href="forum.html">Форум</a>
                        <a class="nav-link h5" href="#">Идеи</a>
                    </nav>
                </div>
                <div class="col-md-10 text-center">
                    <h1 class="display-3 text-white fw-7">StudentSync портфолио</h1>
                    <p class="h4 text-white fw-5">Открой для себя мир творчества, общайся, находи единомышленников и делись своими работами!</p>
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <a href="portfolio.html" class="link-block d-flex align-items-center justify-content-center">
                                    <div class="section">
                                        <img src="img/portfolio.png" alt="Portfolio" class="img-fluid">
                                        <h2>Портфолио в Центре Завтра</h2>
                                        <p>Покажите миру свой талант на главной странице портфолио!</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <a href="portfolio.html" class="link-block d-flex align-items-center justify-content-center">
                                    <div class="section">
                                        <img src="img/personal_page.jpg" alt="Personal Page" class="img-fluid">
                                        <h2>Личная Страница Послезавтра</h2>
                                        <p>Создайте свою уникальную страницу и выделитесь из толпы!</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <a href="portfolio.html" class="link-block d-flex align-items-center justify-content-center">
                                    <div class="section">
                                        <img src="img/creative_chat.jpg" alt="Creative Chat" class="img-fluid">
                                        <h2>Творческий Чат Через неделю</h2>
                                        <p>Обсуждайте идеи, делись вдохновением и веселись в нашем чате!</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>