body {
    background-image: url(../img/main-photo.jpg);
    background-repeat: no-repeat;
}
header {
    background: radial-gradient(circle, rgba(210,32,151,1) 0%, rgba(241,74,0,1) 80%);
    color: white;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: beige;
    color: black;
}
.bc-fon {
    background: #f9f9f9;
    border-radius: 20px;
}
.nav-link {
    color: black;
}

.nav-link:hover {
    color: gray;
}
.section {
    width:70%;
    text-align: center;
    background-color: white;
}

.section h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.section p {
    font-size: 16px;
    margin-top: 10px;
}
.link-block {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.link-block:hover {
    text-decoration: none;
    color: gray;
}
.log-reg {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для полей ввода */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Стили для кнопки отправки */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(210,32,151,1);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стили для кнопки отправки при наведении */
input[type="submit"]:hover {
    background-color: rgba(241,74,0,1);
}

/* Стили для плейсхолдера */
::placeholder {
    color: #aaa;
}
.fw-7 {
    font-weight: 700;
}
.fw-5 {
    font-weight: 500;
}
.user-text {
    background-color: #e9ecef; /* Цвет фона для блока с текстом пользователей */
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    overflow-y: auto; /* Добавление скролла при необходимости */